<style>
   
    .text-center{
     text-align: center; 
    }
    .padding-error{
     padding:7px 1px 5px 17px;
     color: red;
    }
     .text-center-img{
         text-align: center;
         display: block;
         margin: 0 auto;
     }
     .image-round{
         border-radius: 50%;
         background-color:black; 
     }
 
 </style>
 
 
 <ion-content  padding>
       
     <img src="assets/imgs/transity_sq_small.png" class="image-round text-center-img" alt="">
     <h3 class="login-header text-center">Login</h3>
 
     <form #loginForm="ngForm">
         <ion-list no-lines>
             <ion-item>
                 <ion-label floating>Email-id</ion-label>
                 <ion-input id="username" name="username" email type="text" spellcheck="false"  [(ngModel)]="user.username" autocapitalize="on" #username="ngModel" required>
                 </ion-input>
             </ion-item>
             <div *ngIf="username.invalid && (username.dirty || username.touched)" class="padding-error">
                 <div *ngIf="username.errors.required">
                     Email-id is required.
                 </div>
                 <div *ngIf="username.errors?.email">
                     Email not valid.
                 </div>
             </div>
             <ion-item>
                     <ion-label floating>Password</ion-label>
                     <ion-input id="password" name="password" type="password" #password="ngModel"  [(ngModel)]="user.password"  required></ion-input>
            </ion-item>
 
             <!-- <ion-item>
                 <ion-label floating>Password</ion-label>
                 <ion-input id="password" name="password" (ngModelChange)="gpsstauts_check()" #password="ngModel" type="password" [(ngModel)]="user.password" required>
                 </ion-input>
             </ion-item> -->
             <div *ngIf="password.invalid && (password.dirty || password.touched)" class="padding-error">
                 <div *ngIf="password.errors.required">
                     pasword is required.
                 </div>
             </div>
         </ion-list>
         <ion-row responsive-sm>
             <ion-col>
                 <button ion-button outline round (click)="login(user)" [disabled]="((!loginForm.form.valid) || (gpsStatus_of == false)) " type="submit" block>Login</button>
             </ion-col>
         </ion-row>
           
         <div *ngIf="gpsStatus_of == false"  class="padding-error text-center">
            gps is must be on .
         </div>

     </form>
 </ion-content>
 