<style>
    .margin-0{
   margin:0px !important;
  }
  .item-md {
   font-size: 13px !important;
  }
  .font-size {
  font-size:13px !important;
  }
  .item-height{
  min-height: 2.4rem !important;
  }
  padding-left-5{
    padding-left: 5px !important;
  }
  .text-center{
    text-align: center !important;
  }
  .margin-header-title{
    margin-right:32px !important;
  }
  </style>
<ion-header>
  <ion-navbar>
    <ion-title class="margin-header-title" text-center>
      ITEM LIST
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
          <ion-icon name="contact"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>


  <ion-toolbar>
    <ion-item>
        <p class="font-size" item-start>{{consignee}}</p>
        <p class="font-size" item-end>{{consineeNo}}</p>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngFor="let skuItem of skuItems.list">
    <ion-card>
      <ion-item>
        <h3 item-start>{{skuItem.item_code}}</h3>
        <div class="font-size" >{{skuItem.itemDescription}}</div>
        <strong class="font-size" item-end>{{skuItem.quantity}}</strong>
      </ion-item>
    </ion-card>
  </ion-list>

</ion-content>