<ion-header>
    <ion-navbar hideBackButton >
        <ion-title>POD</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
  </ion-header>
  
  <ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-4>
  <button ion-button full color="light" (click)="takePhoto()">
      <ion-icon name="camera"></ion-icon>Camara</button>
      </ion-col>
      <ion-col  col-4>
      </ion-col>
      <ion-col col-4>
         <button ion-button full color="secondary" (click)="openSignatureModel()">Signature</button>
      </ion-col>
    </ion-row>
    <ion-row>

        <ion-col col-6>
            <div>
                <img [src]="myPhoto" *ngIf="myPhoto" />
                <!-- <img [src]="base64Image" *ngIf="base64Image" /> -->
            </div>
        </ion-col>
        <ion-col col-6>
        <div>
            <img [src]="signatureImage" *ngIf="signatureImage" />
        </div>
        </ion-col>
        
    </ion-row>
  </ion-grid>
  <ion-footer>
        <ion-toolbar color="secondary">
          <ion-buttons right>
            <button (click)="pod()" ion-button solid color="save">
              Submitt
            </button>
          </ion-buttons>
          <ion-buttons left>
            <button (click)="cancel()" ion-button solid color="save">
              Cancel
            </button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
  </ion-content>