<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>POD</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
                <ion-icon name="more"></ion-icon>
            </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <button ion-button full color="light" (click)="takePhoto()">
      <ion-icon name="camera"></ion-icon>Camara</button>
      </ion-col>
      <ion-col col-4>
      </ion-col>
      <ion-col col-4>
        <button ion-button full color="secondary" (click)="openSignatureModel()">Signature</button>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col col-6>
        <div>
          <img [src]="myPhoto" id="myPhotoId" *ngIf="myPhoto" />
          <!-- <img [src]="base64Image" *ngIf="base64Image" /> -->
        </div>
      </ion-col>
      <ion-col col-6>
        <div>
          <img [src]="signatureImage" id="signImage" *ngIf="signatureImage" />
       <!--   <input type="file" class="form-control" id="signatureImage" #signatureImage22 name="signatureImage" ng2FileSelect [uploader]="uploader" />
          <div *ngFor="let item of uploader.queue">
            <button type="button" class="btn btn-success btn-xs" (click)="item.alias= 'signatureImage'; item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
              <span class="glyphicon glyphicon-upload"></span> Upload
          </button>
          </div>-->
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
  <ion-footer>
    <ion-toolbar color="secondary">
      <ion-buttons right>
        <button (click)="pod()" ion-button solid color="save">
              Submit
            </button>
      </ion-buttons>
      <ion-buttons left>
        <button (click)="cancel()" ion-button solid color="save">
              Cancel
            </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>